*{
    margin:0%;
    padding: 0%;
}

main{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    margin: auto;
    padding: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
}

.container{
    align-items: center;
}

.container .heading{
    color: steelblue;
    font-weight: 500;
    font-size: 48px;
}